<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>User List</h2>
  </div>

  <app-user-filters
    [isBulkMode]="false"
    [statusFilter]="statusFilter"
    [roleFilter]="roleFilter"
    [statusOptions]="statusOptions"
    [roleOptions]="roleOptions"
    [searchTerm]="searchTerm"
    (search)="onSearch($event)"
    (statusChange)="onStatusChange($event)"
    (roleChange)="onRoleChange($event)"
    (enableBulk)="onEnableBulkMode()"
    (addUser)="onAddUser()"
  ></app-user-filters>

  <app-user-table
    [displayedUsers]="displayedUsers"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [isBulkMode]="isBulkMode"
    [roleOptions]="roleOptions"
    [displayedUserEmails]="displayedUserEmails"
    (refreshRequested)="onChildRefreshRequested()"
    (bulkModeChange)="onChildBulkModeChange($event)"
    (editUserRequest)="onEditUser($event)"
  ></app-user-table>

  <app-pagination
    [totalItems]="totalUsers"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    [isDisabled]="false"
    (pageChange)="onPaginationChange($event)"
  ></app-pagination>
</div>
