<div class="d-flex justify-content-between align-items-center mt-3">
  <div>
    <label for="itemsPerPage" class="me-2 fw-bold">Users per page:</label>
    <select
      id="itemsPerPage"
      class="form-select d-inline-block w-auto"
      [ngModel]="itemsPerPage"
      (ngModelChange)="onChangePageSize($event)"
      [disabled]="isDisabled"
    >
      <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
    </select>
  </div>

  <nav *ngIf="totalPages > 1">
    <ul class="pagination mb-0">
      <li class="page-item" [class.disabled]="currentPage === 1 || isDisabled">
        <a class="page-link" (click)="onChangePage(currentPage - 1)"
          >Previous</a
        >
      </li>

      <li
        class="page-item"
        [class.disabled]="isDisabled"
        *ngFor="let page of totalPages | range"
        [class.active]="page === currentPage"
      >
        <a class="page-link" (click)="onChangePage(page)">{{ page }}</a>
      </li>

      <li
        class="page-item"
        [class.disabled]="currentPage === totalPages || isDisabled"
      >
        <a class="page-link" (click)="onChangePage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
